// This SCSS file is an optional starting point for this provided component
// You may choose to write your own CSS

.image-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  position: relative;
  margin-right: 0;
  margin-bottom: var(--size-5);

  @media (min-width: 1024px) {
    margin-right: var(--size-5);
    margin-bottom: 0;
  }

  img {
    max-width: 100%;
    border-radius: var(--size-1) var(--size-1) 0px 0px;
  }

  .deadline {
    background-color: var(--color-blue-500);
    color: var(--color-white);
    padding: var(--size-4);
    font-size: var(--size-3_5);
    border-radius: 0px 0px var(--size-1) var(--size-1);
  }

  .label-container {
  }
}
