@import url("https://fonts.googleapis.com/css?family=Lato:400,900,700");

:root {
  // Below are some design system variables pulled from the Figma that you may choose to use
  // It is optional - you may write your CSS in the way that makes the most sense for you

  --font-family: "Lato", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --color-white: #ffffff;
  --color-blue-500: #0077da;
  --color-yellow-500: #fdb81e;
  --color-gray-200: #f7f7f7;
  --color-gray-400: #efefef;
  --color-gray-750: #555555;
  --color-gray-850: #333333;
  --color-gray-900: #222222;

  --size-0_5: 0.125rem;
  --size-1: 0.25rem;
  --size-1_5: 0.375rem;
  --size-2: 0.5rem;
  --size-2_5: 0.625rem;
  --size-3: 0.75rem;
  --size-3_5: 0.875rem;
  --size-4: 1rem;
  --size-5: 1.25rem;
  --size-6: 1.5rem;
  --size-7: 1.75rem;
  --size-8: 2rem;
  --size-9: 2.25rem;
  --size-10: 2.5rem;
  --size-11: 2.75rem;
  --size-12: 3rem;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
